// Custom Variables //
$primaryFont: "Poppins";

// Set Colors
$black: #000000;
$white: #ffffff;
$color_1: black;
$background-color_1: transparent;
$background-color_2: #f9f9f9;
$background-color_3: #f1f1f1;

// Media Sizes
$vpMddesktopSM: "(max-width:1821px)";
$vpdesktopMin: "(max-width:1758px)";
$vpMddesktop: "(max-width:1700px)";
$vpdesktopLGMD: "(max-width:1550px)";
$vpdesktopLG: "(max-width:1500px)";
$vpdesktop: "(max-width:1400px)";
$vpdesktopSM: "(max-width:1245px)";
$vptabletL: "(max-width:1229px)";
$vptabletP: "(max-width:991px)";
$vpmobile: "(max-width:767px)";
$vpmobileSM: "(max-width:575px)";
$vpmobileLGSM: "(max-width:475px)";
$vpsmmobile: "(max-width:400px)";
$vpxsmobile: "(max-width:359px)";
